# Dependências
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# Git
.git
.gitignore

# Envs
.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.eslintcache
.turbo

# Misc
.DS_Store
*.pem
coverage
.nyc_output

# Documentação
README.md
*.md

# TypeScript
*.tsbuildinfo
next-env.d.ts
